{% extends "home/index.html" %}
{% load static %}

{% block about %}
<!-- ======= About Section ======= -->
<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6 col-md-5">
                                    <div class="about-img">
                                        <img src="{{ owner.profile_image.url }}" class="img-fluid rounded b-shadow-a"
                                            alt="">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-7">
                                    <div class="about-info">
                                        <p><span class="title-s">Name: </span> <span>{{ owner.name }}</span></p>
                                        <p><span class="title-s">Profile: </span> <span>{{ owner.profile }}</span></p>
                                        <p><span class="title-s">Email: </span> <span>{{ owner.email }}</span></p>
                                        <p><span class="title-s">Phone: </span> <span>{{ owner.phone }}</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="skill-mf">
                                <p class="title-s">Software Dev. Skills</p>
                                {% for skill in owner.skills.all %}
                                <span>{{ skill.title }}</span> <span class="pull-right">{{ skill.proficiency }}%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar"
                                        style="width: {{ skill.proficiency }}%;" aria-valuenow="{{ skill.proficiency }}"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-me pt-4 pt-md-0">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        About me
                                    </h5>
                                </div>
                                <p class="lead">{{ owner.bio }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End About Section -->
{% endblock %}

{% block services %}
<!-- ======= Services Section ======= -->
<section id="services" class="services-mf pt-5 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Services
                    </h3>
                    <p class="subtitle-a">
                        Besides working on personal projects, I am open to working with you on any of the following
                        areas:
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for service in owner.services.all %}
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="{{ service.icon }}"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">{{ service.title }}</h2>
                        <p class="s-description text-center">
                            {{ service.description }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section><!-- End Services Section -->
{% endblock %}

{% block counter %}
<!-- ======= Counter Section ======= -->
<div class="section-counter paralax-mf bg-image" style="background-image: url({% static 'img/counters-bg.jpg' %})">
    <div class="overlay-mf"></div>
    <div class="container position-relative">
        <div class="row">
            {% for counter in owner.counters.all %}
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="{{ counter.icon }}"></i></span>
                    </div>
                    <div class="counter-num">
                        <p data-purecounter-start="0" data-purecounter-end="{{ counter.count }}"
                            data-purecounter-duration="1" class="counter purecounter"></p>
                        <span class="counter-text">{{ counter.title }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Counter Section -->
{% endblock %}

{% block portfolio %}
<!-- ======= Portfolio Section ======= -->
<section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Portfolio
                    </h3>
                    <p class="subtitle-a">
                        A sample of some of the works I am proud of:
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for portfolioAd in owner.portfolio_ads.all %}
            <div class="col-md-4">
                <div class="work-box">
                    <a href='{{ portfolioAd.cover_image }}' data-gallery="portfolioGallery" class="portfolio-lightbox">
                        <div class="work-img">
                            <img src="{{ portfolioAd.cover_image }}" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">{{ portfolioAd.title }}</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">{{ portfolioAd.category }}</span> / <span class="w-date">
                                        {{ portfolioAd.date }}</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    <a href=""> <span class="bi bi-plus-circle"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            {% endfor %}
        </div>
    </div>
</section><!-- End Portfolio Section -->
{% endblock %}

{% block testimonials %} <!-- ======= Testimonials Section ======= -->
<div class="testimonials paralax-mf bg-image" style="background-image: url(#{% static 'img/overlay-bg.jpg' %})">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">
                        {% for testimonial in owner.testimonials.all %}
                        <div class="swiper-slide">
                            <div class="testimonial-box">
                                <div class="author-test">
                                    <img src="{{ testimonial.author_image }}"
                                        alt="image of {{ testimonial.author_name }}" class="img-fluid rounded-circle"
                                        style="width: 150px; height: 150px;">
                                    <span class="author">{{ testimonial.author_name }}</span>
                                </div>
                                <div class="content-test">
                                    <p class="description lead">
                                        {{ testimonial.review }}
                                    </p>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->
                        {% empty %}
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

                <!-- <div id="testimonial-mf" class="owl-carousel owl-theme">
            
          </div> -->
            </div>
        </div>
    </div>
</div><!-- End Testimonials Section -->
{% endblock %}

{% block blog %}
<!-- ======= Blog Section ======= -->
<section id="blog" class="blog-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Blog
                    </h3>
                    <p class="subtitle-a">
                        Articles and research
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for blogAd in owner.blog_ads.all %}
            <div class="col-md-4">
                <a href="{% url 'blog-post' blogAd.id %}"></a>
                <div class="card card-blog">
                    <div class="card-img">
                        <img src="{{ blogAd.cover_image }}"
                                alt="image of blog {{ blogAd.title }}" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <div class="card-category-box">
                            <div class="card-category">
                                <h6 class="category">{{ blogAd.category }}</h6>
                            </div>
                        </div>
                        <h3 class="card-title"><a href="{% url 'blog-post' blogAd.id %}">{{ blogAd.title }}</a></h3>
                        <p class="card-description">
                            {{ blogAd.summary }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="post-author">
                            <a href="#">
                                <img src="{{ blogAd.author_image }}" alt="" class="avatar rounded-circle">
                                <span class="author">{{ blogAd.author_name }}</span>
                            </a>
                        </div>
                        <div class="post-date">
                            <span class="bi bi-clock"></span> {{blogAd.reading_time}} min
                        </div>
                    </div>
                </div>
            </a>
            </div>
            {% empty %}
            {% endfor %}
        </div>
    </div>
</section><!-- End Blog Section -->
{% endblock %}

{% block contact %}
<!-- ======= Contact Section ======= -->
<section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route"
    style="background-image: url({% static 'img/overlay-bg.jpg' %})">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        Email Us
                                    </h5>
                                </div>
                                <div>
                                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="text" name="name" class="form-control" id="name"
                                                        placeholder="Your Name" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" name="email" id="email"
                                                        placeholder="Your Email" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="subject" id="subject"
                                                        placeholder="Subject" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="message" rows="5"
                                                        placeholder="Message" required></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12 text-center my-3">
                                                <div class="loading">Loading</div>
                                                <div class="error-message"></div>
                                                <div class="sent-message">Your message has been sent. Thank you!</div>
                                            </div>
                                            <div class="col-md-12 text-center">
                                                <button type="submit"
                                                    class="button button-a button-big button-rouded">Send
                                                    Message</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="title-box-2 pt-4 pt-md-0">
                                    <h5 class="title-left">
                                        Get in Touch
                                    </h5>
                                </div>
                                <div class="more-info">
                                    <p class="lead">
                                        {{ owner.final_remarks }}
                                    </p>
                                    <ul class="list-ico">
                                        <li><span class="bi bi-geo-alt"></span> {{ owner.address }}</li>
                                        <li><span class="bi bi-phone"></span> {{ owner.phone }}</li>
                                        <li><span class="bi bi-envelope"></span> {{ owner.email }}</li>
                                    </ul>
                                </div>
                                <div class="socials">
                                    <ul>
                                        {% if owner.facebook %}
                                        <li><a href="{{ owner.facebook }}"><span class="ico-circle"><i
                                                        class="bi bi-facebook"></i></span></a></li>
                                        {% endif %}

                                        {% if owner.instagram %}
                                        <li><a href="{{ owner.instagram }}"><span class="ico-circle">
                                                    <i class="bi bi-instagram"></i>
                                                </span></a></li>
                                        {% endif %}

                                        {% if owner.twitter %}
                                        <li><a href="{{ owner.twitter }}"><span class="ico-circle"><i
                                                        class="bi bi-twitter"></i></span></a></li>
                                        {% endif %}


                                        {% if owner.linkedin %}
                                        <li><a href="{{ owner.linkedin }}"><span class="ico-circle"><i
                                                        class="bi bi-linkedin"></i></span></a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->
{% endblock %}